# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# IDE Specific
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/

# Environment and Logs
*.log
.env